/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
    font-family: "Avenir", sans-serif;
    margin: 0;
    padding: 0;
}

h2{
    font-family: "Baron neue", sans-serif;
}

img{
    max-width: 100%;
    max-height:400px;
}
button{
    font-family: "Baron neue", sans-serif;
    color:white;
    background-color:rgb(0,0,0,0.3);
    border-color: rgb(250, 222, 100);
    border-width:4px;
    border-style:solid;
    padding:15px;
    
}

nav ul{
  background-color:rgb(0,0,0,0.3);
  list-style:none;
  display:flex;
  flex-wrap:wrap;
  justify-content: space-between;
  align-items: center;
}

nav ul li a{
  font-family: "Baron neue", sans-serif;
  color:white;
  text-decoration:none;
  flex-grow:1;
}

ul{
  list-style: none; 
  align-items: center;
}

.logobuttons{
    display:flex;
    flex-direction:column;
    justify-content: center;
}

.logobuttons li{
        padding-bottom: 10px;

}

   
}

.logohome{
   position:absolute; 
   height: 80px;
   justify-content: center;
}


.introtekst{
    padding:2px;
    background-color:rgb(253,242,218);
}

.themodernkitchen{
    background-color: rgb(122,35,26);
    color:white;
}

.takeaway{
    background-color: rgb(253,242,218);
}

.joinourteam{
    display:flex;
    background-color: rgb(250,219,76);
}

.instagram ul{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    background-color: rgb(253,242,218);
}

.contactinfo{
    text-align: center;
}

footer{
    background-color:rgb(250,219,76);
}




